---

const { projectName = 'Default Project', tools = [], link } = Astro.props;
---

<a href={link} target="_blank" id="project" class="border rounded-md border-black h-16 flex items-center gap-3 mt-4 p-5">
    <p id="name"class="m-0" >{projectName}</p>
    <p class="text-gray-600">&#x2022; {tools.length > 0 ? tools.join(', ') : 'N/A'}</p>
</a>

<style>
    #name {
        font-family: inter;
    }
</style>
