---

const { projectName = 'Default Project', tools = [], link, github } = Astro.props;
---
<div class="flex gap-4 ">
    <div class="basis-1/6 relative group">
        <a href={github} target="_blank" class="relative z-10 border-gray-400 border rounded-md h-14 flex justify-between items-center mt-4 p-5 transition ease-in-out duration-300 transform group-hover:-translate-y-2 group-hover:border-black gap-5 bg-white">
            <div class="flex gap-5">
                <p id="name">Github</p>
            </div>
            <p class="text-gray-600 text-2xl font-extralight transition-transform group-hover:translate-x-2 duration-300" style="min-width: 1.5rem;">&#8594;</p>
        </a>
        <div class="absolute inset-0 h-14 mt-4 bg-black rounded-md opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out"></div>
    </div>
    <div class="flex-grow relative group">
        <a href={link} target="_blank" id="project" class="w-full relative z-10 border-gray-400 border rounded-md h-14 flex justify-between items-center mt-4 p-5 transition ease-in-out duration-300 transform group-hover:-translate-y-2 group-hover:border-black gap-5 bg-white">
            <div class="flex gap-5">
                <p id="name" class="m-0">{projectName}</p>
                <p class="text-gray-600">{tools.length > 0 ? tools.join(' • ') : 'N/A'}</p>
            </div>
            <p class="text-gray-600 text-2xl font-extralight transition-transform group-hover:translate-x-2 duration-300" style="min-width: 1.5rem;">&#8594;</p>
        </a>
            <div class="absolute inset-0 h-14 mt-4 bg-black rounded-md opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out"></div>
    </div>
</div>

<style>
    #name {
        font-family: inter;
    }
</style>
