---
const { socialName, link } = Astro.props;
---

<div class="relative group">
    <a href={link} target="_blank" class="bg-black text-white justify-center w-20 relative z-10 border-black border rounded-md h-2 flex  items-center mt-4 p-4 transition ease-in-out duration-300 transform group-hover:-translate-y-2 group-hover:border-black gap-5 ">
        <div class="flex gap-5">
            <p id="name">{socialName}</p>
        </div>
        <!-- <p class="text-gray-600 text-2xl font-extralight transition-transform group-hover:translate-x-2 duration-300" style="min-width: 1.5rem;">&#8594;</p> -->
    </a>
    <div class="w-20 absolute inset-0 h-4 mt-8 bg-white border-black border rounded-md opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out"></div>
</div>

<style>
    #name {
        font-family: inter;
        font-size: 14px;
    }
</style>
